.container-button {
  width: 130px;
  display: inline-block;
  margin-bottom: 15px;
}

.button {
  display: inline-block;
  margin-left: 10px;
}

.container-form {
  width: 120px;
  display: inline-block;
}

.calidad-label {
  display: inline-block;
  margin-left: 10px;
}
